@{
    ViewData["Title"] = "Choose An Option";
}
<h1>@ViewData["Title"]</h1>


<div>
    <ul>
        <a class="btn btn-lg btn-outline-warning" asp-area="" asp-controller="Form" asp-action="Student">Student</a>

        <a class="btn btn-lg btn-outline-primary" asp-area="" asp-controller="Form" asp-action="Lesson">Lesson</a>
    </ul>
</div>
