@{
    ViewData["Title"] = "Choose An Option";
}
<h1>@ViewData["Title"]</h1>


<div>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="StudentAdd" asp-action="Index">Add a Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="StudentDelete" asp-action="Index">Delete a Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="StudentUpdate" asp-action="Index">Update a Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="LessonAdd" asp-action="Index">Add a Lesson</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="LessonDelete" asp-action="Index">Delete a Lesson</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="LessonUpdate" asp-action="Index">Update a Lesson</a>
        </li>
    </ul>
</div>
