@{
    ViewData["Title"] = "Add Lesson";
}
<h1>@ViewData["Title"]</h1>

<form>
  <div class="form-group">
    <label for="LessonId">Lesson Id</label>
    <input type="number" class="form-control"  placeholder="Lesson Id">
  </div>
   <div class="form-group">
    <label for="LessonName">Lesson Name</label>
    <input type="text" class="form-control"  placeholder="Lesson Name">
  </div>
  
  <button type="submit" class="btn btn-primary" action="Add">Add</button>
</form>
