@model StudentDeleteViewModel
@{
    ViewData["Title"] = "Delete Student";
}
<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm("Index", "StudentDelete", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     <div class="form-group">
        @Html.LabelFor(m=>m.Id)
        @Html.TextBoxFor(m=>m.Id,new {@type="number",@class="form-control",@placeholder="Id"})
    </div>
   

    <button type="submit" class="btn btn-primary">Delete</button>
}
