<body>

    <div class="pt-5">
        <h1 class="text-center">School System Login</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="card card-body">
                        <form id="submitForm" action="/login" method="post" data-parsley-validate="" data-parsley-errors-messages-disabled="true" novalidate="" _lpchecked="1">
                            <input type="hidden" name="_csrf" value="7635eb83-1f95-4b32-8788-abec2724a9a4">
                            <div class="form-group required">
                                <lsabel for="username">Username / Email</lsabel>
                                <input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="">
                            </div>
                            
                            
                            <div class="form-group pt-1">
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </div>
                        </form>
                        <p class="small-xl pt-1 text-center">
                            <span class="text-muted">Not a member?</span>
                            <a href="/signup">Sign up</a>
                           
                        </p>
                        <p class="small-xl pt-1 text-center">
                            
                            <a class="ml-auto border-link small-xl" href="/forget-password">Forgot </a>
                            <span class="text-muted">your password?</span>
                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>